.boards {
  position: relative;
}

.boards table {
  margin: auto;
  border-collapse: collapse;
}

.boards td {
  width: 5rem;
  height: 5rem;
}

.boards td * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBoard {
  display:block;
}
.boardRow:nth-child(odd) td:nth-child(even), .boardRow:nth-child(even) td:nth-child(odd) {
  background-color: var(--secondary);
}
.boardRow:nth-child(even) td:nth-child(even), .boardRow:nth-child(odd) td:nth-child(odd) {
  background-color: var(--primary);
}

.moves, .pieces {
  position: absolute;
  transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
}

.move{
  background-color: var(--text);
}
